<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/main.js" defer></script>
    

  </head>
  <body>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 
    <nav class="navbar custom-navbar ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/imgs/LOGO.png" id="logo"alt="Logo" width="30" height="24">
            Prajwal Adhikari
          </a>
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="homeejs">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutejs">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-disabled="true" href="projectejs">My Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-disabled="true" href="serviceejs">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-disabled="true" href="contactejs">Contact Us</a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
        </div>
    </nav>

    <div id="top">
        <h1 id="head">Contact Us</h1>
        <p id="para">Got a question? We 'd love to hear from you. Send us a message and we 'll respond as soon as possible</p>
    </div>

    <div id="bigbox">
        <form id="contact-form" class="mb-3">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first Name" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter your last Name" required>
            </div>
            <div class="mb-3">
                <label for="contact" class="form-label">Contact</label>
                <input type="text" class="form-control" id="contact" placeholder="e.g. +1 (437)-(411)-(6745)" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Your Message</label>
                <textarea class="form-control" id="message" rows="3" placeholder="Your message goes here..." required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
                <p id="success-message"></p>
            </div>
           
        </form>
       
    </div>


  </body>
</html>